## In this Juputer Notebook, I have covered few basic topics which are mentioned below :

### 1. Python Numbers
### 2. Python Tuples
### 3. Arithematic Operations
### 4. Conversions
### 5. Exponent Function
### 6. Python List
### 7. Matrix
### 8. Operation On List
### 9. Methods In List
### 10. Built-In functions 
### 11. Python Tuples
### 12. Nesting Of a Tuples
### 13. Repetition
### 14. Nesting Tuple In a List
### 15. Nesting Tuple Within a List
### 16. Python Strings
### 17. Concatination
### 18.Python Dictionaries
### 19. Sets in Python
### 20.If-else ststement in python
### 21. Nested If statement
### 22. If-elif else statement

# 1. Python Numbers

In [1]:
x=100
type(x)

int

In [2]:
x=45*2

In [4]:
print (x)

90

In [5]:
x=3.14

In [6]:
type(x)

float

In [2]:
x="Simplilearn"

In [3]:
print(x)

Simplilearn

In [9]:
type(x)

str

In [2]:
x=[14,24,34]
type(x)
print(x)
print(x[0])

[14, 24, 34]
14

In [11]:
type(x)

list

In [12]:
x[0]=44
print(x)

[44, 24, 34]

# 2. Python Tuples

In [5]:
x=(45,55,65)

In [14]:
type(x)

tuple

NOTE : YOU CANNOT CHANGE THE VALUE IN CASE OF TUPLES. ie, Lists are Mutable and Tuples are Immutable

In [7]:
x[0]=10
#Error Occured

TypeError: 'tuple' object does not support item assignment

In [16]:
(x,y,z)=(1,2,3)

In [17]:
print(x)
print(y)
print(z)

1
2
3

In [18]:
x=y=z=1

In [19]:
print(x)
print(y)
print(z)

1
1
1

In [20]:
abc=2
_abc=3

1. Variable Name must begins with an alphabet or an underscore
2. The First Character must begin with alphabet, numbers or underscore
3. variable names are case sensitive
4. Reserved words cannot be used as variable name. eg, break, class, try

## 3. ARITHEMATIC OPERATIONS

In [22]:
num1= 10
num2= 20

In [23]:
print(num1+num2)

30

In [24]:
print(num1-num2)

-10

In [25]:
print(num1*num2)

200

In [26]:
print(num1/num2)

0.5

In [27]:
print(10/3)

3.3333333333333335

In [28]:
print(10//3)

3

In [29]:
print(num1**num2)

100000000000000000000

In [30]:
print(num1*num2)

200

In [34]:
print(10**2)#10 to the power 2

100

In [39]:
#Inorder to get remainder use % (modulus) Operator
print(num1%num2)

10

## 4. CONVERSIONS

In [40]:
x="192"
type(x)

str

In [41]:
int(x)

192

In [42]:
x=float(x)

In [43]:
print(x)

192.0

In [47]:
x=str(x)
str(x)

'192.0'

In [48]:
x=complex(x)

In [49]:
print(x)

(192+0j)

#### FUNCTIONS

In [52]:
#Absolute Function : Wheather your Value is positive or negative, 
#the return value will always be positive
x=-54
print(abs(x))

54

## 5. Exponent Function

In [56]:
#Inorder to use Exponent function we are required to import the math library

In [55]:
import math
x=10
print(math.exp(x))

22026.465794806718

In [57]:
math.e

2.718281828459045

In [64]:
math.pi

3.141592653589793

In [67]:
max(538,346,890,800,535)

890

In [68]:
min(320,318,500,517,190)

190

## 6. Python Lists

In [69]:
num=[1,2,3,4,5]

In [70]:
print(num)

[1, 2, 3, 4, 5]

In [72]:
letter=['a','b','c','d']
print(letter)

['a', 'b', 'c', 'd']

In [24]:
stg=["get","certified","get","ahead"]

In [3]:
print(stg)

['get', 'certified', 'get', 'ahead']

In [4]:
print(stg[2])

get

In [5]:
mix=[1,2,'a','b',"Simplilearn"]

In [6]:
print(mix[-1])

Simplilearn

## 7. MATRIX

In Programming languages, Matrix are associated with Arrays(2D arrays)
In case of Python, Matrix can also be a list 
ie, We can have list containing two or more lists

In [7]:
mat=[[1,2],[3,4,5],['a','b','c']]
print(mat)

[[1, 2], [3, 4, 5], ['a', 'b', 'c']]

In [8]:
print(mat[1])

[3, 4, 5]

In [9]:
concat=mat+stg
print(concat)

[[1, 2], [3, 4, 5], ['a', 'b', 'c'], 'get', 'certified', 'get', 'ahead']

In [10]:
print(concat[2:4])

[['a', 'b', 'c'], 'get']

In [11]:
#TO extract every second element from the list
concat[::2]

[[1, 2], ['a', 'b', 'c'], 'certified', 'ahead']

In [12]:
concat[::-1]

['ahead', 'get', 'certified', 'get', ['a', 'b', 'c'], [3, 4, 5], [1, 2]]

## 8. OPERATIONS ON LIST

In [13]:
#Unpacking Operations
Z=[0]*100

In [14]:
print(Z)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [3]:

var=('hey,there')
type(var)

str

In [16]:
print(var)

hey,there

In [17]:
var=list('hey,there')

In [18]:
print(var)

['h', 'e', 'y', ',', 't', 'h', 'e', 'r', 'e']

In [6]:
num = [1,2,3,4,5]

In [7]:
print(num)

[1, 2, 3, 4, 5]

Here the * signifies that every element that has  not been
put into the previous variable is put into others

In [27]:
one,two,*other=num

In [28]:
print(one)
print(two)
print(other)

1
2
[3, 4, 5]

In [29]:
test=['English','Maths','Hindi','Science','Social Studies']

In [30]:
print(test)

['English', 'Maths', 'Hindi', 'Science', 'Social Studies']

In [31]:
slot1,slot2,slot3,*others=test

In [32]:
print(slot1)
print(slot2)
print(slot3)
print(others)

English
Maths
Hindi
['Science', 'Social Studies']

## 9.  Methods in Lists

In [8]:
print(num)

[1, 2, 3, 4, 5]

In [9]:
num.append(6)

In [48]:
print(num)

[1, 2, 3, 4, 5, 'Simplilearn', 'Simplilearn', 6, 'get', 'certified', 'get', 'ahead', [1, 2], [3, 4, 5], ['a', 'b', 'c'], 'get', 'certified', 'get', 'ahead', 6]

Inorder to add not only a single element to the end of the list but an entire other list,
we will have to use "Method extend"

In [49]:
print(stg)

['get', 'certified', 'get', 'ahead']

In [50]:
num.extend(stg)

In [51]:
print(num)

[1, 2, 3, 4, 5, 'Simplilearn', 'Simplilearn', 6, 'get', 'certified', 'get', 'ahead', [1, 2], [3, 4, 5], ['a', 'b', 'c'], 'get', 'certified', 'get', 'ahead', 6, 'get', 'certified', 'get', 'ahead']

In [44]:
num.insert(5,"Simplilearn") #Mentioning the index number

In [45]:
print(num)

[1, 2, 3, 4, 5, 'Simplilearn', 'Simplilearn', 6, 'get', 'certified', 'get', 'ahead', [1, 2], [3, 4, 5], ['a', 'b', 'c'], 'get', 'certified', 'get', 'ahead']

In [55]:
num = [1,2,3,4,5,6]

In [63]:
print(num)

['Simplilearn', 1, 2, 3, 4, 5, 6]

In [64]:
num.insert(0,"Simplilearn")#Mentioning the index number

In [65]:
print(num)

['Simplilearn', 'Simplilearn', 1, 2, 3, 4, 5, 6]

In [67]:
num.remove("Simplilearn") #remove Function

In [68]:
print(num)

[1, 2, 3, 4, 5, 6]

In [69]:
stg=["Get","Certified","Get","Ahead"]

In [70]:
stg.remove("Get")

In [71]:
print(stg)

['Certified', 'Get', 'Ahead']

In [72]:
stg.remove(stg[-1])

In [73]:
print(stg)

['Certified', 'Get']

In [3]:
eg=["Simplilearn", "Octopus", "White Witch"]

In [4]:
print(eg)

['Simplilearn', 'Octopus', 'White Witch']

In [5]:
eg.remove("Octopus")

In [6]:
print(eg)

['Simplilearn', 'White Witch']

In [16]:
#Creating a new list -----------------------> The output will appear in a non-shuffled manner
var1=['b','m','l','w','v','f']
print(var1)
var1.sort()#------------------------->After sorting the output will be shuffled
print(var1)

['b', 'm', 'l', 'w', 'v', 'f']
['b', 'f', 'l', 'm', 'v', 'w']

# 10. Built in function with list

In [19]:
len(var1)

6

In [20]:
x=[2,2,4,4,5,6,7,9,10]

In [21]:
print(x)

[2, 2, 4, 4, 5, 6, 7, 9, 10]

In [26]:
len(x)

9

In [27]:
min(x)

2

In [28]:
max(x)

10

In [29]:
sum(x)

49

In [30]:
#find average
Av = sum(x)/len(x)

In [31]:
print(Av)

5.444444444444445

## 11.  PYTHON TUPLES

In [32]:
emp=()
print(type)

<class 'type'>

In [33]:
city="Famous",

In [34]:
print(type)

<class 'type'>

In [36]:
city=("Famous")

In [37]:
print(type)

<class 'type'>

We have done few operations on tuples in the starting part of the code

Tuples are Immutable therefore cannot be altered in any sense such as ; Append, extend, insert etc 
and if we try doing so, it is no surprise getting an error

## 12. Nesting of a tuple

In [11]:
city=("Mumbai","Pune","Bangalore","Delhi")
print(city)

('Mumbai', 'Pune', 'Bangalore', 'Delhi')

In [12]:
num=(1,2,3,4)
print(num)

(1, 2, 3, 4)

In [13]:
nest=(city,num)
print(nest)

(('Mumbai', 'Pune', 'Bangalore', 'Delhi'), (1, 2, 3, 4))

## 13. Repetition

In [98]:
rep=("Python",)*7
rep

('Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python')

In [99]:
rep=("Python",)*20
rep

('Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python')

In [100]:
rep=("Python, "*5)
rep

'Python, Python, Python, Python, Python, '

In [101]:
rep

'Python, Python, Python, Python, Python, '

In [102]:
print(rep)

Python, Python, Python, Python, Python,

In [103]:
num1=(3,4,5,6,7,8)
num1.count(3)

1

In [104]:
var=('a','a','b','c')
var.count('a')

2

# 14. Nesting tuples in a list

In [121]:
lst=[(1,2,3,4),(5,6,7,8)]
print(lst[1])

(5, 6, 7, 8)

Tuples are immutable whereas lists are mutable so we can add as many tuples as we want inside the list

In [122]:
lst.append(("Tuples","inside","list"))

In [123]:
print(lst)

[(1, 2, 3, 4), (5, 6, 7, 8), ('Tuples', 'inside', 'list')]

In [124]:
lst.remove((1,2,3,4))

In [125]:
print(lst)

[(5, 6, 7, 8), ('Tuples', 'inside', 'list')]

## 15. Nesting Lists within tuples

In [128]:
tpl=(['a','b','c','d'],['e','f','g','h'])

In [129]:
print(tpl)

(['a', 'b', 'c', 'd'], ['e', 'f', 'g', 'h'])

In [134]:
tpl[0].append('z')

In [140]:
print(tpl)

(['a', 'b', 'c', 'd', 'z'], ['e', 'f', 'g', 'h'])

In [141]:
tpl[0].remove('z')

In [142]:
print(tpl)

(['a', 'b', 'c', 'd'], ['e', 'f', 'g', 'h'])

## 16. Python Strings

In [15]:
stg="simplilearn"
print(stg)

simplilearn

In [146]:
stg="Tim's Bitrthday"
print(stg)

Tim's Bitrthday

In [160]:
stg="Tim\'s said,\"I\'m Busy Today\""

In [161]:
print(stg)

Tim's said,"I'm Busy Today"

In [172]:
stg='''Hey There,
Welcome to Simplilearn'''
print(stg)

Hey There,
Welcome to Simplilearn

In [173]:
len(stg)

33

If I want to acces every character as my string one by one, I can do this by using for loop

In [195]:
stg="Simplilearn"

In [17]:
for i in stg:
    print(i, end = " ")

s i m p l i l e a r n

In [192]:
#Inordr to print it all in a same line you can add (i, end = " ")

In [18]:
for i in stg:
    print(i)

s
i
m
p
l
i
l
e
a
r
n

In [194]:
print(stg[ : 5])

Simpl

In [197]:
print(stg[4: ])

lilearn

In [223]:
stg="Welcome To Simplilearn"

In [209]:
print(stg.upper())

WELCOME TO SIMPLILEARN

In [204]:
print(stg.lower())

welcome to simplilearn

In [212]:
print(stg.find('n'))

21

In [213]:
print(stg.index('n'))

21

In [214]:
stg.split(" ")

['Welcome', 'To', 'Simplilearn']

In [216]:
stg.replace('Simplilearn','Programming World')

'Welcome To Programming World'

In [224]:
#Rpartition Method ---->It is more like a conversion from list to  tuples.
stg.rpartition(" to ")
print(stg.rpartition)

<built-in method rpartition of str object at 0x0000016177815E90>

## 17. Concatination

In [225]:
stg1="Good Morning"
stg2="Students"

In [227]:
print(stg1+ " " +stg2)

Good Morning Students

In [228]:
stg1="hey"
stg2="there"
stg3="all"

## 18.  Python Dictionaries

Syntax:variable_name={key1:value,key2:value2}

In [233]:
d1={}
type(d1)

dict

In [234]:
d2={1:"Welcome",2:"To",3:"Simplilearn"}

In [235]:
print(d2)

{1: 'Welcome', 2: 'To', 3: 'Simplilearn'}

In [236]:
d3={"name":"Sam","age":22,"profession":"Student"}

In [237]:
print(d3)

{'name': 'Sam', 'age': 22, 'profession': 'Student'}

In [242]:
print(d3["name"])

Sam

In [243]:
print(d3["age"])

22

In [19]:
#Nested Dictionary
d4={"name":{"first":"Sam","last":"Crew"},"age":22,"profession":"Student"}

In [20]:
print(d4["name"]["last"])

Crew

In [253]:
#adding element to the dictionaries

In [276]:
d={0:"Welcome",1:("How","are","you"),"name":{'first' : 'Sam', 'last': 'Crew'}}

In [259]:
print(d['name']['last'])

Crew

In [261]:
print(d[1])

('How', 'are', 'you')

In [262]:
print(d[1][1])

are

In [266]:
print(d.get(1)[1])

are

In [269]:
#Deleting element 
print(d.pop(0))

Welcome

In [270]:
print(d)

{1: ('How', 'are', 'you'), 'name': {'first': 'Sam', 'last': 'Crew'}}

In [272]:
#pop item removes the last element of the dict 
d.popitem()

('name', {'first': 'Sam', 'last': 'Crew'})

In [273]:
print(d)

{1: ('How', 'are', 'you')}

In [281]:
#using built in functions, it returns all the values

#It returns all the values

d.values()

dict_values(['Welcome', ('How', 'are', 'you'), {'first': 'Sam', 'last': 'Crew'}])

Creating dictionaries from keywords

In [285]:
keys={'a','b','c','d'}
values = 1
dict.fromkeys(keys, values)

{'b': 1, 'a': 1, 'c': 1, 'd': 1}

In [286]:
d.clear()

In [287]:
print(d)

{}

# 19. Sets In Python

###### Sets is an unordered collection of unique elements --- and it does not repeat the same element

Syntax : Variable_name =set([1,2,3,4])

Sets are itterable and mutable

In [21]:
#Sets
s=set([1,2,3,4])

In [22]:
print(s)
print(type(s))

{1, 2, 3, 4}
<class 'set'>

In [23]:
#adding element
s.add('a')

In [24]:
print(s)

{1, 2, 3, 4, 'a'}

In [25]:
#Frozen Sets -------------------> These are immutable 
fs=frozenset([1,2,3,4])

In [26]:
fs.add('a') # No surprises we'll get an error

AttributeError: 'frozenset' object has no attribute 'add'

In [299]:
#Operations on set

#Union set

s1=set([1,2,3,4,5])
s2=set([3,5,6,7,8,9,10])

In [300]:
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [304]:
print(s1.difference(s2))

{1, 2, 4}

# 20. If-else Statement in Python

In [2]:
#A program to know that the given number is even or not


a=60
if(a>=50):
    print("This is an if block")
print("This is out of the if block")

This is an if block
This is out of the if block

In [4]:
i=20
if i%2==0:
    print("This is the if block")
    
    
    
    print("i is an even number")
else:
    print("This is an else block")
    print("i is not an even number")

This is the if block
i is an even number

# 21. Nested If-Statement

In [4]:
c=21
if c<25:
    if c%2==0:
        print("c is an even number and less than 25")
    else:
        print("c is an odd number and less than 25")
else:
    print("c is greator than 25")

c is an odd number and less than 25

## 22.  If-elif else Statement

In [27]:
var=str(input("Enter a word : "))
if var=='a':
    print("This is the vowel a")
elif var=='e':
    print("This is the vowel e")
elif var=='i':
    print("This is the vowel i")
elif var=='o':
    print("This is the vowel o")
elif var=='u':
    print("This is the vowel e")
else:
    print("This is a consonant")

Enter a word : a
This is the vowel a