# For Loops in Python

In [1]:
fruits=['apple','chickoo','strawberry','banana']
for i in fruits:
    print(i)

apple
chickoo
strawberry
banana

##### With continue statement we can stop the current itteration of the loop and continue with next

In [11]:
fruits=['apple','chickoo','strawberry','banana']
for i in fruits:
    if i=='banana':
        continue
    print(i)

apple
chickoo
strawberry

In [12]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

#### With the break statement we can stop the loop before it has looped through all the items:

In [13]:
fruits = ['cherry','apple','banana']
for i in fruits:
    if i=='banana':
        break
    print(i)

cherry
apple

# The range() Function

In [16]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [18]:
for x in range(2,6):
    print(x)

2
3
4
5

In [20]:
for x in range(3,30,3):
    print(x)

3
6
9
12
15
18
21
24
27

##### 1. The range() function defaults to increment the sequence by 1, 
2.However it is possible to specify the increment value by adding a third parameter: range(3, 30, 3):

In [23]:
for x in range (6):
    print(x)
else: 
    print("Finally finished!")

0
1
2
3
4
5
Finally finished

In [25]:
for x in range (6):
    if x==3:
        break
    print(x)
else:
    print("finished")

0
1
2

## Nested Loops

In [31]:
adjective=['red','big','tasty']
fruits=['apple','mango','pineapple']
for x in adjective:
    for y in fruits:
        print(x,y)

red apple
red mango
red pineapple
big apple
big mango
big pineapple
tasty apple
tasty mango
tasty pineapple

In [32]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [40]:
adj=['Resilient','Focused','Dedicated','Consistent']
name=['Rabia Khan is ']
for x in adj:
    for y in name:
        print(y,x)

Rabia Khan is  Resilient
Rabia Khan is  Focused
Rabia Khan is  Dedicated
Rabia Khan is  Consistent

In [41]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [39]:
def name_function(fname, lname):
    print(fname + " " + lname)
name_function('Rabia','Khan')
name_function('Thomas','Edison')

Rabia Khan
Thomas Edison

In [63]:
num=[1,2,3,4,5,6]
for i in num:
    square= i**2
    print("The square of ",i, "is",square)

The square of  1 is 1
The square of  2 is 4
The square of  3 is 9
The square of  4 is 16
The square of  5 is 25
The square of  6 is 36

In [62]:
num=[10,20,30,40,50]
sum=0
for i in num:
    sum=sum+i
num_length=len(num)
av=sum/num_length
print(av)

30.0

Calculate the average of list of numbers

In [70]:
num=[1,2,3,4,5]
sum=0
for i in num:
    sum=sum+i
num_len=len(num)
average=sum/num_length
print(average)

3.0

In [69]:
for i in range(0,11):
    if i%2==0:
        print("Even Number : ",i)
    else:  
        print("Odd Number  : ",i)

Even Number :  0
Odd Number  :  1
Even Number :  2
Odd Number  :  3
Even Number :  4
Odd Number  :  5
Even Number :  6
Odd Number  :  7
Even Number :  8
Odd Number  :  9
Even Number :  10

break the loop if number a number is greater than 15

In [83]:
num = [1, 4, 7, 8, 15, 20, 35, 45, 55]
for i in num:
    if i>15:
        break
    else: 
        print(i)

1
4
7
8
15

In [ ]:
numbers = [1, 4, 7, 8, 15, 20, 35, 45, 55]
for i in numbers:
    if i > 15:
        # break the loop
        break
    else:
        print(i)

### Making a Pattern by taking user input

In [5]:
n=int(input("Enter a number rows : "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j, end=" ")
    print()

Enter a number rows : 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
r=int(input("Enter The Number Of Rows : "))
c=int(input("Enter The Number Of Columns : "))
x=[]
for i in r:

SyntaxError: unexpected EOF while parsing (<ipython-input-4-ef968de0d25d>, line 5)

Here what happening is, we are creating an empty array first, and then we are inserting the loop,
here r is the number of element in x, ie. The number of list within our pareent list x
and c is the number element in the list in x

# While Loop in Python

In [1]:
i=1
while(i<=10):
    print("Simplilearn")
    i+=1

Simplilearn
Simplilearn
Simplilearn
Simplilearn
Simplilearn
Simplilearn
Simplilearn
Simplilearn
Simplilearn
Simplilearn

In [2]:
i=1
sum=0
while(i<=10):
    sum=sum+i
    i+=1
print(sum)

55

In [3]:
#Even Numbers

i=1
sum=0
while(i<=10):
    if i%2==0:
        sum=sum+i
    i+=1
print(sum)

30

In [4]:
x = "pqrstu"
while i in x:
    print(i, end=" ")
    i+=1

NameError: name 'i' is not defined