# WHAT IS PANDAS ?

#### Pandas is a tool for data processing which helps in data analysis

#### It provides functions and methods to efficiently manipulate large datasets

## Panda Series

Series is one-dimensional array with labels. It can contain any data type including integers, strings, floats, Python objects 
amd many more

In [2]:
import pandas as pd

In [3]:
#check pandas version
print(pd.__version__)

1.2.4

# Series :- Create, Manipulate, Query, Delete

In [5]:
#Creating a series from a list
arr=[0,1,2,3,4]
s1 = pd.Series(arr)
s1

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [7]:
order=[1,2,3,4,5]
s2= pd.Series(arr,index=order)
s2

1    0
2    1
3    2
4    3
5    4
dtype: int64

In [14]:
import numpy as np
n=np.random.random(5)
index=['a','b','c','d','e']
s2=pd.Series(n,index=index)
s2

a    0.121598
b    0.322492
c    0.307300
d    0.038563
e    0.512448
dtype: float64

## Creating series from dictionary

In [18]:
d={'a':1,'b':2,'c':3,'d':4,'e':5}
s3=pd.Series(d)
s3

a    1
b    2
c    3
d    4
e    5
dtype: int64

##### You can modify the index of series

In [19]:
print(s1)

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [21]:
s1.index=['A','B','C','D','E']
print(s1)

A    0
B    1
C    2
D    3
E    4
dtype: int64

## Slicing

In [25]:
a=s1[:-1]
a

A    0
B    1
C    2
D    3
dtype: int64

In [26]:
a=s1[:3]
a

A    0
B    1
C    2
dtype: int64

In [37]:
s4=s1.append(s3)
s4

A    0
B    1
C    2
D    3
E    4
a    1
b    2
c    3
d    4
e    5
dtype: int64

In [36]:
#drop is a key word to delete an element
s4.drop('e')
s4

A    0
B    1
C    2
D    3
E    4
a    1
b    2
c    3
d    4
e    5
dtype: int64

## Series Operations

In [38]:
arr1=[0,1,2,3,4,5,7]
arr2=[6,7,8,9,5]

In [39]:
s5=pd.Series(arr2)
s5

0    6
1    7
2    8
3    9
4    5
dtype: int64

In [40]:
s6=pd.Series(arr1)
s6

0    0
1    1
2    2
3    3
4    4
5    5
6    7
dtype: int64

In [41]:
s5.add(s6)

0     6.0
1     8.0
2    10.0
3    12.0
4     9.0
5     NaN
6     NaN
dtype: float64

In [42]:
s5.sub(s6)

0    6.0
1    6.0
2    6.0
3    6.0
4    1.0
5    NaN
6    NaN
dtype: float64

In [43]:
s5.mul(s6)

0     0.0
1     7.0
2    16.0
3    27.0
4    20.0
5     NaN
6     NaN
dtype: float64

In [46]:
s5.div(s6)

0     inf
1    7.00
2    4.00
3    3.00
4    1.25
5     NaN
6     NaN
dtype: float64

In [48]:
s6.median()

3.0

In [52]:
print('''s6'''
      ,s6)
print('median',s6.median())
print('max',s6.max())
print('min',s6.min())

s6 0    0
1    1
2    2
3    3
4    4
5    5
6    7
dtype: int64
median 3.0
max 7
min 0

In [55]:
s7=s5.mul(s6)
s7

0     0.0
1     7.0
2    16.0
3    27.0
4    20.0
5     NaN
6     NaN
dtype: float64

In [56]:
print('median',s7.median())
print('max',s7.max())
print('min',s7.min())

median 16.0
max 27.0
min 0.0

## Creating a Dataframe

In [58]:
dates=pd.date_range('today',periods=20) #Define time sequence as index
dates

DatetimeIndex(['2022-01-18 20:41:48.990820', '2022-01-19 20:41:48.990820',
               '2022-01-20 20:41:48.990820', '2022-01-21 20:41:48.990820',
               '2022-01-22 20:41:48.990820', '2022-01-23 20:41:48.990820',
               '2022-01-24 20:41:48.990820', '2022-01-25 20:41:48.990820',
               '2022-01-26 20:41:48.990820', '2022-01-27 20:41:48.990820',
               '2022-01-28 20:41:48.990820', '2022-01-29 20:41:48.990820',
               '2022-01-30 20:41:48.990820', '2022-01-31 20:41:48.990820',
               '2022-02-01 20:41:48.990820', '2022-02-02 20:41:48.990820',
               '2022-02-03 20:41:48.990820', '2022-02-04 20:41:48.990820',
               '2022-02-05 20:41:48.990820', '2022-02-06 20:41:48.990820'],
              dtype='datetime64[ns]', freq='D')

In [61]:
df1=pd.DataFrame(num_arr, index=dates, columns = columns)
df1

NameError: name 'columns' is not defined